.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #1a508b;

  color: white;
}
.arrow {
  height: 20px;
  display: inline;
  text-align: right;
  position: relative;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #1a508b;
}
.header-name {
  display: inline;
  padding-left: 14%;
  font-size: 22px;
  font-family: "Aclonica", sans-serif;
}
.header-language {
  display: inline;
  position: relative;
  margin-right: 500px;
  font-size: 22px;
  font-family: "Aclonica", sans-serif;
}
.link {
  border: 2px solid peru;
  color: saddlebrown;
  font-size: 2px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
